header {
	margin: 0;
	padding: 0;
}
.header__inner {
	display: flex;
	flex-wrap: nowrap;
	padding: 12px;
}

.header__title {
	font-size: 1.8em;
	margin:12px 0px 0px 0px;
}

.header__logo {
	height: 36px;
	margin: 0px 10px 0px 0px;
}

html, body, main {
	width: 100%;
}

nav {
	width: 100%;
	min-height: 100px;
	position: absolute;
	transform: translate(0px, 0px);
}

.nav__item {
	width: 100%;
	border-bottom: 1px solid #aba79b;
}

nav.open {
	transform: translate(0px, 0px);
	position: relative;
}

#hamburger {
	font-size: 2em;
	margin-top: 8px;
	padding: 5px;
	position: absolute;
	right: .6em;
}

.scores {
	padding
	width:100%;
	overflow-x: auto;
}